* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-image: url(./Fon.png);
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
}

#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: none; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #616da1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 18px 24px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #616da1;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
header {
  display: flex;
  flex-direction: row;
  padding: 13px 20px 17px 21px;
  margin: 0 37px;
  background: #ffffff;
  box-shadow: 0px 5px 35px rgba(97, 109, 161, 0.15);
  border-radius: 0px 0px 15px 15px;
}

header .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

header .logo {
  width: 80px;
  height: 89px;
}

header .content .tel {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header .content .tel .number {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #233446;
  padding-left: 9px;
}

header .content .menu {
  display: flex;
  flex-direction: row;
  padding-left: 29px;
  width: 100%;
  justify-content: space-between;
}

.content .menu > div {
  padding: 8px 14px 7px 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.content .menu > div:last-of-type {
  background: #616da1;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.forma {
  display: flex;
  flex-direction: column;
  width: 504px;
  height: 486px;
  margin-left: 113px;
  margin-top: 25px;
  background-image: url("/src/img/24_7.svg");
  background-position-x: 0;
  background-position-y: 30px;
  background-repeat: no-repeat;
}

.forma h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 24px;
  text-align: center;
  color: #616da1;
  padding-top: 84px;
  padding-bottom: 15px;
  border-bottom: 2px solid #e9e9e9;
}

.forma form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forma form .title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #233446;
}

.forma form .form_group {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
  width: 320px;
  height: 69px;
  align-items: center;
}

.form_group label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #616da1;
  margin-bottom: 8px;
}

.form_group input {
  width: 100%;
  height: 39px;
  border: 1px solid #616da1;
  box-sizing: border-box;
  border-radius: 6px;
  background: none;
  font-size: 16px;
  outline: none;
  text-align: center;
}

::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #b7b7b7;
}

.forma form button {
  margin-top: 37px;
  width: 163px;
  height: 39px;
  background: #616da1;
  border-radius: 6px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.forma .info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #233446;
  margin-top: 42px;
}

.forma .footer {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #b7b7b7;
  border-top: 2px solid #e9e9e9;
  margin-top: 27px;
  padding-top: 14px;
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 331px;
}

.advantage h3 {
  margin: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #233446;
}

.advantage .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 115px;
  padding-bottom: 30px;
  border-bottom: 2px solid #e9e9e9;
}

.advantage .content .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 160px;
  justify-content: space-between;
  margin: 30px 10px;
}

.doctor {
  display: flex;
  flex-direction: row;
  margin: 60px 138px;
  padding-bottom: 30px;
  border-bottom: 2px solid #e9e9e9;
}

.doctor > .block {
  display: flex;
  /* flex: auto; */
}

.doctor .foto img {
  margin-top: 160px;
}

.doctor .clerk {
  display: flex;
  flex-direction: column;
  margin-left: 62px;
}

.clerk .appellation {
  margin: 0;
  text-align: center;
  margin-bottom: 47px;
}

.clerk .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.clerk .content .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  min-width: 217px;
  padding: 0 calc((100% / 3 - 200px) / 2);
  margin-bottom: 60px;
}

.clerk .content .block img {
  width: 180px;
  height: 190px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.clerk .content .block .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 26px;

  color: #616da1;
}

.clerk .content .block .about {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 10px;

  color: #233446;
}

.clerk .content .block button {
  margin-top: 10px;
  background: #616da1;
  border-radius: 6px;
  width: 133px;
  height: 29px;
  color: #ffffff;
}

.comment {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 60px;
  margin-left: 138px;
}

.comment .content h3 {
  margin-bottom: 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #233446;
}

.comment .content {
  display: flex;
  flex-direction: column;
}

.comment .comment_fon img {
  width: 500px;
  height: 500px;
}

.comment .content .block {
  display: flex;
  flex-direction: column;
}

.comment .box {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.block .box .pictur {
  width: 150px;
  height: 150px;
}

.block .box .pictur img {
  width: 150px;
  height: 150px;
  background: #c4c4c4;
  border-radius: 10px;
}

.comment .box .text {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;

  color: #233446;
}
footer {
  background-image: url(./footer.svg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 1000px 90px #616da1 inset;
}

footer .menu {
  display: flex;
  flex-direction: row;
  margin: 84px 30px 0 138px;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .menu div {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 49px;

  color: #ffffff;
}

footer .menu .box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .menu .box .box_1 {
  display: flex;
  flex-direction: column;
}

.modal {
  position: fixed;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: scroll;
  justify-content: center;
}

.modal .content {
  position: absolute;
  z-index: 50;
  width: 70%;
  height: 85%;
  border: 1px solid #000000;
  background-color: white;
  top: 25px;
  /* left: 250px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.close {
  display: flex;
  justify-content: flex-end;
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .content .box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 50px;
}

.box .pict {
  display: flex;
  margin-right: 19px;
}

.box .pict img {
  width: 260px;
  height: 260px;
  border-radius: 20px;
}

.modal .content .text {
  display: flex;
  flex-direction: column;
}

.text .block {
  display: flex;
  flex-direction: row;
}

.text .block .work {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow: auto;
}

.content .text .info {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 20px;
}

.direction_work {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;

  color: #616da1;
}

.fio h3 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;

  color: #233446;
}
.gramota {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  footer .menu {
    margin-left: 20px;
  }

  header {
    display: none;
  }
  .menu__btn {
    display: block;
  }
  .advantage {
    margin-top: 430px;
  }
  .doctor .foto {
    display: none;
  }
  .doctor {
    margin: 0;
  }
  .doctor .clerk {
    margin: 0;
  }
  .comment_fon {
    display: none;
  }
  .comment {
    margin-left: 20px;
  }
  .advantage .content {
    margin: 0 20px;
  }
  .forma {
    margin: 0;
    margin-left: 3px;
    width: auto;
    height: auto;
  }
  .modal .content {
    left: 10px;
    width: 95%;
    height: auto;
  }
  .box .pict {
    justify-content: center;
    margin: 0;
  }
  .box .pict img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
  }
  .text .block {
    flex-direction: column;
  }
  .gramota .sertificat img {
    width: 100px;
    height: 100px;
  }
  .modal .content .box {
    margin-bottom: 10px;
  }
}
